form {
	background-color: linen;
}

input {
	width:20%;
	padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid green;
    border-bottom: 2px solid red;
    border-radius: 4px;
}

#submit {
	width:15%;
	border-bottom: 2px solid blue;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    font-size: 17px;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}